*{
    margin:0;
    padding: 0;
}

.card{
    margin-left: 40px;
    margin-top: 23px;
    font-size: 27px;
    background-color: rgb(233, 225, 225);
    box-shadow: 5px 6px 6px 5px rgb(153, 152, 152);
}


.card-title{
    font-size: 47px;
}

.add-button{
    margin-left: 65px;
    font-weight: bold;
}

.delete-button{
    margin-left: 70%;
    font-weight: bold;
}

input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    }